* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top{
    height: 40vh;
    background-image: linear-gradient(rgba(0,0,0,0.35),rgba(0,0,0,0.35)),url(back.png);
    background-size: cover;
    background-position: center;
    position: relative;
}
.right{
    float: right;
}

.budget{
    position: absolute;
    width: 350px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    color: #fff;
}

.budget__title{
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 300;
}

.budget__value{
    font-weight: 300;
    font-size: 46px;
    text-align: center;
    margin-bottom: 25px;
    letter-spacing: 2px;
}

.budget__income{
    background-color: aqua;
    margin-bottom: 10px;
}

.budget__income, .budget__expenses{
    padding:12px;
    text-transform: uppercase;
}

.clearfix::after{
    content: "";
    display:table;
    clear: both;
}

.budget__income--text, .budget__expenses--text {
    float: left;
    font-size: 13px;
    color: #444;
    margin-top: 2px;
}