@font-face {
  font-family: myFirstFont;
  src: url(Montserrat-Regular.ttf);
}
body {
  font-family: myFirstFont;
  background-color: #393B79;
  height: -webkit-fill-available;
  color: #ffffff;
  display: grid;
  align-content: center;
}
div {
  padding:10px;
	margin: auto;
}
.city-name{
  font-weight: bold;
  font-size: 78px;
}
.label {
    font-size: 24px;
}
.values {
    font-size: 30px;
}
.details{
    text-align:center;
}
